*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;   
    --bg-color: linear-gradient(45deg, #030103, #5e275e); 
    --stroke-color: rgba(255,255,255,0.5);
    --surface-color: rgba(255,255,255,0.1);
    --color-button: white;
    --switch-bg: url(./asssets/dark.svg);

}

.light{
    --text-color: black;
    --bg-color: linear-gradient(45deg, #c5add1, #f8effc);
    --stroke-color: rgba(0,0,0,0.5);
    --surface-color: rgba(0,0,0,0.05);
    --color-button: black;
    --switch-bg: url(./asssets/light.svg);
}



html{
    background: var(--bg-color);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}


.container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;

}
#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    border-radius: 50%;
    width: 112px;
}

#profile p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

#switch{
    position: relative;
    width: 64px; 
    
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    left: 0;
    z-index: 1;
    
    transform: translateY(-50%);
    top: 50%;

    animation: slide-back .2s;
}


.light #switch button{
    animation: slide-in .2s forwards;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 999px;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 28px 0;
}

ul li a{
    color: var(--text-color);

/* centralizar elementos */
display: flex;
justify-content: center;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    
    backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;
    
    transition: background 0.2s;
    
}


ul li a:hover{
    background: rgba(255,255,255,0.05);
    border: 1.5px solid var(--color-button);

}

footer{
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}


/* animation */
@keyframes slide-in{
    from {
        left: 0;
    }
    to { 
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}